 body {
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(to right, #a7c5eb, #fde8cd); /* Fondo degradado */
            margin: 0;
            padding: 0;
          }
/*
    .menu_quejas {
      background-color: rgb(233, 219, 72);
      color: black;
      padding: 10px;
      position: fixed;
      top: 40px;
      width: 100%;
      z-index: 1000;
      text-align: justify;
      font-size: 10px;
    }

       .menu_quejas a {
      text-decoration: none;
      color: rgb(14, 9, 9);
      font-weight: bold;

    }

  */
    header {
      background-color: dodgerblue;
      padding: 10px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      font-size: 12px;
      list-style: none;
    }

    header ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;

    }

    header li {
      float: left;
      margin-right: 10px;
      list-style: none;

    }

    header a {
      padding: 8px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      list-style: none;
     }

   


    main {

      /* Ajusta el margen superior para dejar espacio para el menú */
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      /* Permite que los formularios se envuelvan a la siguiente línea */
    }


    .gpon_internet {
      background-color: #ffe5f0;
      position: absolute;
      padding: 20px;
      border-radius: 10px;
      margin: 0;
      left: 15%;
      top:10%;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    
}
.titulo_memo {
margin-bottom: 3px;
margin-top: 5px;
text-align: center;
}

    .form_quejas {
      margin-bottom: 5px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      width: 300px;
    }


    label {
      display: none;
      /* Oculta los textos de las etiquetas */
    }



    .botones-copiar {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .boton_memo {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #fff;
      color: #9b59b6;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
    }

    .boton_memo:hover {
      background: #8e44ad;
      color: #fff;
    }